/.vscode
original/metawards
original/*.dat
notebooks/.ipynb_checkpoints
/build
src/metawards/*.c
src/metawards/utils/*.c
src/metawards/*.so
src/metawards/utils/*.so
src/metawards/iterators/*.c
src/metawards/iterators/*.so
src/metawards/extractors/*.c
src/metawards/extractors/*.so
src/metawards/mixers/*.c
src/metawards/mixers/*.so
src/metawards/movers/*.c
src/metawards/movers/*.so
__pycache__
/dist/*.tar.gz
/dist/*.whl
/src/metawards.egg-info
/2011Data
/.pytest_cache
/*.pyc
/output
/doc/build
/doc/source/api/generated
/.coverage
.Rproj.user
R/output_*
