/.vscode
*.dat
original/metawards
notebooks/.ipynb_checkpoints
/build
src/metawards/*.c
src/metawards/utils/*.c
src/metawards/*.so
src/metawards/utils/*.so
__pycache__
/dist
/src/metawards.egg-info
/2011Data
/.pytest_cache
/.env
/*.pyc
/output
/doc/build
/doc/source/api/generated
/.coverage
